.content {
    max-width: 1000px;
    margin: 0 auto;

}

.content-container {
  margin: 0 1.5rem;
}

header {
  background-color: var(--accent-dark);
  color: var(--main-color-light);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 1rem 1.5rem;
}

header h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-color-light);
}

.form-container {
  border: 2px solid rgb(250, 29, 66);
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }

  .flex-child {
    flex-grow: 1;
    flex-basis: 0;
  }

  .flex-child-large {
    flex-grow: 1;
    flex-basis: 0;
  }



}
