table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

}

th, td {
  border: 1px solid var(--brown);
  text-align: left;
  color: var(--main-color-dark);
  font-size: 0.875rem;
  padding: 0.5rem;
}

th {
  background-color: var(--beige);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1.5px;

}